{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block title %} Social Media | Create Post {% endblock title %}
  {% block link %}
  <link rel="stylesheet" href="{% static 'css/create.css' %}" />
  {% endblock link %}
</head>

<body>
  {% block content %}
  <div class="container">
    <form class="form-container" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <h2>Create a New Post</h2>
      <div class="form-group">
        <label for="postImage" class="custom-file-upload">
          <input type="file" id="postImage" name="post_img" accept="image/*" onchange="updateFileName(this)" />
          <span id="fileName">Choose an Image</span>
        </label>
      </div>
      <div class="form-group">
        <textarea id="body" name="body" placeholder="Write a body for the post" rows="6" required></textarea>
      </div>
      <div class="form-group">
        <input type="submit" value="Post" />
      </div>
    </form>
  </div>
  {% endblock content %}
</body>

</html>