{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %} Social Media | Change password {% endblock title %}
    {% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/registrations/style.css' %}" />
    {% endblock link %}
</head>

<body>
    {% block content %}
    <div class="form-box">
        <form method="post" id="changePasswordForm" class="form" action="{% url 'change_password' %}">
            <span class="title">Change Password</span>
            <span class="subtitle">Enter your new password below</span>
            {% csrf_token %}
            <div class="form-container">
                <input type="password" class="input" name="password" placeholder="New Password" required />
                <input type="password" class="input" name="confirm_password" placeholder="Confirm Password" required />
            </div>
            <button type="submit" class="button">Change</button>
        </form>
    </div>
    <div class="overlay" id="overlay"></div>
    {% endblock content %}
</body>

</html>