{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %} Social Media | Restore password {% endblock title %}
    {% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/registrations/style.css' %}" />
    {% endblock link %}
</head>

<body>
    {% block content %}
    <div class="form-box">
        <form method="post" id="signinForm" class="form" action="{% url 'reset_password' %}">
            <span class="title">Reset password</span>
            <span class="subtitle">Reset your profile password</span>
            {% csrf_token %}
            <div class="form-container">
                <input type="text" class="input" name="email" placeholder="Email" required />
            </div>
            <button type="submit" class="button">Send token and code</button>
        </form>
        <div class="form-section">
            <span class="subtitle">
                Don't have an account?
                <a href="{% url 'signup' %}" class="link">Sign Up</a>
            </span>
        </div>
    </div>
    <div class="overlay" id="overlay"></div>
    {% endblock content %}
</body>

</html>