.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    max-width: 350px;
    background: #000000;
    overflow: hidden;
    border-radius: 16px;
    color: #ffffff;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 1.6rem;
    color: #ffffff;
}

.subtitle {
    font-size: 1rem;
    color: #666;
}

.form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #000000;
    margin: 1rem 0 .5rem;
    width: 100%;
}

.input {
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #393939;
    font-size: .9rem;
    padding: 8px 15px;
    color: #ffffff;
    background-color: black
}

.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #000;
    color: #ffffff;
}

.form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
}

.form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
}

.form button {
    background-color: #0066ff;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
}

.input::placeholder {
    color: #999;
}

a {
    text-decoration: none;
    color: #ffffff;
}