.sidebar {
    width: 350px;
    background-color: black;
    margin-top: 120px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 250px;
}

.section-names {
    margin-bottom: 20px;
}

.section-name {
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.section-name:hover {
    color: #007bff;
}

.profile-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.settings-container {
    margin-top: -176px;
    width: 600px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    margin-left: 45%;
}

.settings-header {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #fff;
}

.settings-header i {
    margin-right: 10px;
}

input[type="text"],
textarea {
    width: calc(100% - 20px);
    min-width: 200px;
    min-height: 40px;
    max-height: 250px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #666;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #333;
    color: #fff;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.delete-btn {
    background-color: #dc3545;
}

.delete-btn:hover {
    background-color: #c82333;
}

.clickable:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.change-pass-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.change-pass-btn i {
    margin-right: 10px;
}

.change-pass-btn:hover {
    background-color: #0056b3;
}